body {
  background-color: #333 !important;
}

h1 {
  color: #fff;
}
.content__standfirst {
  color: #fff;
}
.related, .onward, [data-link-name="most-popular"] {
  display: none !important;
  height: 0 !important;
  position: absolute;
}
.svg .sharecount__heading .i, .svg .tonal--tone-podcast .tonal__main--tone-podcast .sharecount__heading .i, .svg .tonal--tone-special-report .content__main-column--media .sharecount__heading .i, .svg .i-share-android--white, .svg-i-share-android--white {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMDczIDguNGMtLjQ3NSAwLS45MDYuMTktMS4yMjUuNDk3TDMuNTQgNi4yMiAzLjU1NSA2bC0uMDE1LS4yMiA1LjMwOC0yLjY3N2MuMzIuMzA4Ljc1LjQ5NyAxLjIyNS40OTcuOTgyIDAgMS43NzgtLjgwNiAxLjc3OC0xLjhTMTEuMDU2IDAgMTAuMDc0IDAgOC4yOTUuODA2IDguMjk1IDEuOGwuMDE2LjIzMy01LjI5OCAyLjY3NWMtLjMyLS4zMTMtLjc1NS0uNTA3LTEuMjM2LS41MDctLjk4MiAwLTEuNzc4LjgwNy0xLjc3OCAxLjhzLjc5NiAxLjggMS43NzggMS44Yy40OCAwIC45MTUtLjE5MyAxLjIzNi0uNTA2bDUuMyAyLjY3NS0uMDE3LjIzMmMwIC45OTQuNzk2IDEuOCAxLjc3OCAxLjhzMS43NzgtLjgwNiAxLjc3OC0xLjgtLjc5NS0xLjgtMS43NzctMS44em0wLTcuNjhjLjU4OCAwIDEuMDY3LjQ4NCAxLjA2NyAxLjA4IDAgLjU5Ni0uNDggMS4wOC0xLjA2NyAxLjA4UzkuMDA2IDIuMzk2IDkuMDA2IDEuOGMwLS41OTYuNDgtMS4wOCAxLjA2Ny0xLjA4em0wIDEwLjU2Yy0uNTg4IDAtMS4wNjctLjQ4NC0xLjA2Ny0xLjA4IDAtLjU5Ni40OC0xLjA4IDEuMDY3LTEuMDhzMS4wNjcuNDg0IDEuMDY3IDEuMDhjMCAuNTk2LS40OCAxLjA4LTEuMDY3IDEuMDh6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
  background-position: 0 0;
}
.content__series-label__link {
  color: #fb0 !important;
}
.content--interactive .content__labels {
  border-color: #767676 !important;
}
.content--interactive .content__meta-container {
  border-color: #767676 !important;
}
.meta__numbers .sharecount__value--full,
.meta__numbers .sharecount__value--short {
  color: #fff !important;
}
.top-banner-ad-container {
  display: none !important;
}
figure {
  background: #333 !important;
}
